html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  color: rgba(255, 255, 255, 1);
}

header {
  color: rgba(240, 240, 240, 1);
  font-family: serif, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.7);
}

header h1 {
  font-size: 6em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

header h2 {
  font-size: 4em;
}

input[type="text"],
input[type="number"] {
  border: 0.2em ridge rgba(192, 192, 192, 1);
  font-family: monospace, serif;
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.05em 0.05em rgba(192, 192, 192, 1);
}

small {
  color: rgba(220, 220, 220, 1);
  line-height: 1.6;
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 1);
}

footer {
  bottom: 0;
  color: rgba(220, 220, 220, 1);
  font-family: sans-serif, serif;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1.6;
  position: absolute;
  text-align: center;
  text-shadow: 0.05em 0.05em rgba(165, 165, 165, 0.5);
  width: 100%;
}

#rate {
  background: linear-gradient(
    to bottom,
    #f6f8f9 0%,
    #e5ebee 50%,
    #d7dee3 51%,
    #f5f7f9 100%
  );
}

#roomRate, #taxes, #total {
  background: linear-gradient(
  to bottom,
  #ffffff 0%,
  #f1f1f1 50%,
  #e1e1e1 51%,
  #f6f6f6 100%
);
}

#rateBox label {
  font-size: 2em;
  font-weight: bold;
}

#resultBox label {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  width: 40%;
}

.box {
  color: rgba(240, 240, 240, 1);
  font-family: monospace, serif;
  float: left;
  letter-spacing: 0.1em;
  padding: 2em;
  width: 45%;
  text-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

#rateBox h3,
#resultBox h3 {
  color: rgba(200, 200, 200, 1);
  font-size: 3em;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
}

#rateBox,
#resultBox {
  border-radius: 5em;
  text-align: center;
}

.block {
  margin: 0.5em;
}

#noteLink {
  background-color: rgba(80, 80, 120, 1);
  color: inherit;
  text-decoration: none;
}
